<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python-code-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

In [20]:
import numpy as np
import pandas as pd

In [21]:
print("Hello, World!")

Hello, World!

In [22]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [23]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [24]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [25]:
x = 5
y = "Hello, World!"

In [26]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [27]:

#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [28]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [29]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [30]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [31]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [32]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [33]:
x = "John"
# is the same as
x = 'John'

In [34]:
a = 4
A = "Sally"
#A will not overwrite a

In [35]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [36]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [37]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Variable Names

In [38]:
#Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"

#Pascal Case
#Each word starts with a capital letter:

MyVariableName = "John"

#Snake Case
#Each word is separated by an underscore character:

my_variable_name = "John"

## Assign Multiple Values

In [39]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry