<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python_code_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

# Chapter 4

#Table of contents

# Python Numbers
# Python Strings
[ (link) ](#python_variables)

<a href='#the_destination'>Link to des</a>

In [249]:
import numpy as np
import pandas as pd

In [250]:
print("Hello, World!")

Hello, World!

In [251]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

# Python Numbers

<a id='python_variables'>link to this cell
</a>

<a id='the_destination'></a>

Getting the Data Type

# Python Tuples

In [252]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

ordered, unchangeable, allow duplicates

In [253]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

tuple length

In [254]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

String, int and boolean data types:

In [255]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print data type

In [256]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

## Access Tuple Items

In [257]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Check if Item Exists

In [258]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Remove Items

Note: You cannot remove items in a tuple.

## Unpack Tuples

In [259]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Loop Tuples

In [260]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## Join tuples

In [261]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Python Sets

Set
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [262]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

unordered, unchangeable, duplicates not allowed

In [263]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

Get the Length of a Set

In [264]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Data Types

In [265]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

data thpe of set

In [266]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

## Access Set Items

In [267]:
thisset = {"apple", "banana", "cherry"}

for item in thisset:
  print(item)

cherry
apple
banana

Change Items

Once a set is created, you cannot change its items, but you can add new items.