<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python-code-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

#Table of contents
## Python - Variable Names
[ (link) ](#python_variables)

<a href='#the_destination'>Link to the destination'</a>

In [99]:
import numpy as np
import pandas as pd

In [100]:
print("Hello, World!")

Hello, World!

In [101]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [102]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [103]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [104]:
x = 5
y = "Hello, World!"

In [105]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [106]:

#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [107]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [108]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [109]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [110]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [111]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [112]:
x = "John"
# is the same as
x = 'John'

In [113]:
a = 4
A = "Sally"
#A will not overwrite a

In [114]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [115]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [116]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Variable Names

<a id='python_variables'>link to this cell
</a>

<a id='the_destination'></a>

In [117]:
#Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"

#Pascal Case
#Each word starts with a capital letter:

MyVariableName = "John"

#Snake Case
#Each word is separated by an underscore character:

my_variable_name = "John"

## Assign Multiple Values

In [118]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [119]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [120]:
# list, tuple, set, dictionaries

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Output Variables

In [121]:
x = "Python is awesome"
print(x)

Python is awesome

In [122]:
# Error
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [123]:
# separate output variables whem with commas
x = 5
y = "John"
print(x, y)

5 John

## Global Variables

Variables that are created outside of a function are known as global variables.

In [124]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome