<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python_code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

#Table of contents

# Python Numbers
# Python Strings
[ (link) ](#python_variables)

<a href='#the_destination'>Link to des</a>

In [298]:
import numpy as np
import pandas as pd

In [299]:
print("Hello, World!")

Hello, World!

In [300]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

# Python Numbers

<a id='python_variables'>link to this cell
</a>

<a id='the_destination'></a>

Getting the Data Type

In [301]:
x = 1
print(x)
y = 7.8
print(y)
z = -87.7e100
print(z)

1
7.8
-8.77e+101

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [302]:
x = 1    # int
y = 2.8  # float

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)


print(a)
print(b)

print(type(x))
print(type(y))

1.0
2
<class 'int'>
<class 'float'>

## Random Number

In [303]:
import random

print(random.randrange(1, 10))

5

# Python Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [304]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [305]:
a = "Hello"
print(a)

Hello

Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

In [306]:
a = "Hello, World!"
print(a[1])

e

Lopping a string

In [307]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [308]:

# string length
a = "Hello, World!"
print(len(a))

# check if string is present in another string
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

# check if string is not present
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

13
Yes, 'free' is present.
No, 'expensive' is NOT present.

## Slicing Strings

Get the characters from position 2 to position 5 (not included):

In [309]:
b = "Hello, World!"
print(b[2:5])

llo

In [310]:
b = "Hello, World!"
print(b[:5])

Hello

In [311]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [312]:
b = "Hello, World!"
print(b[-5:-2])

orl

Upper Case

In [313]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Lower Case

In [314]:
a = "Hello, World!"
print(a.lower())

hello, world!

Remove Whitespace

In [315]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Replace String

In [316]:
a = "Hello, World!"
print(a.replace("World", "John"))

Hello, John!

Split String

In [317]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation

In [318]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [319]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Format - Strings

In [320]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [321]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars