<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python-code-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

#Table of contents
## Python - Variable Names
[ (link) ](#python_variables)

<a href='#the_destination'>Link to the destination'</a>

In [173]:
import numpy as np
import pandas as pd

In [174]:
print("Hello, World!")

Hello, World!

In [175]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [176]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [177]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [178]:
x = 5
y = "Hello, World!"

In [179]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [180]:

#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [181]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [182]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [183]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [184]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [185]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [186]:
x = "John"
# is the same as
x = 'John'

In [187]:
a = 4
A = "Sally"
#A will not overwrite a

In [188]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [189]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [190]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Variable Names

<a id='python_variables'>link to this cell
</a>

<a id='the_destination'></a>

In [191]:
#Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"

#Pascal Case
#Each word starts with a capital letter:

MyVariableName = "John"

#Snake Case
#Each word is separated by an underscore character:

my_variable_name = "John"

## Assign Multiple Values

In [192]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [193]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [194]:
# list, tuple, set, dictionaries

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Output Variables

In [195]:
x = "Python is awesome"
print(x)

Python is awesome

In [196]:
# Error
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [197]:
# separate output variables whem with commas
x = 5
y = "John"
print(x, y)

5 John

## Global Variables

Variables that are created outside of a function are known as global variables.

In [198]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function

In [199]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome