<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python_code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

#Table of contents

# Python Numbers
[ (link) ](#python_variables)

<a href='#the_destination'>Link to des</a>

In [20]:
import numpy as np
import pandas as pd

In [21]:
print("Hello, World!")

Hello, World!

In [22]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

# Built-in Data Types

<a id='python_variables'>link to this cell
</a>

<a id='the_destination'></a>

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

Getting the Data Type

In [23]:
x = 5
type(x)
print(type(x))

<class 'int'>

Setting the Data Type

x = ["apple", "banana", "cherry"]    	list

x = ("apple", "banana", "cherry")	   tuple

x = {"name" : "John", "age" : 36}	    dict

x = {"apple", "banana", "cherry"}    	set

# Python Numbers

## Python Numbers

There are three numeric types in Python:

int

float

complex

In [24]:
x = 1
print(x)
y = 7.8
print(y)
z = -87.7e100
print(z)

1
7.8
-8.77e+101

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [25]:
x = 1    # int
y = 2.8  # float

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)


print(a)
print(b)

print(type(x))
print(type(y))

1.0
2
<class 'int'>
<class 'float'>