<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python_code_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

# Chapter 3

#Table of contents

# Python Numbers
# Python Strings
[ (link) ](#python_variables)

<a href='#the_destination'>Link to des</a>

In [316]:
import numpy as np
import pandas as pd

In [317]:
print("Hello, World!")

Hello, World!

In [318]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

# Python boolean

Booleans represent one of two values: True or False.

In [319]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [320]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Functions can Return a Boolean

In [321]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

# Python Operators

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

# Python collections

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python Lists

In [322]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [323]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [324]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

## data type of list

In [325]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

ordered, changeable, allow duplicates

In [326]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

list length

In [327]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## Access List Items

In [328]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [329]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

check if item exists

In [330]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [331]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [332]:
# Insert

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [333]:
# this is

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Remove List Items

remove item by name

In [334]:

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

remove at the specified index

In [335]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

delete the list completely

In [336]:
thislist = ["apple", "banana", "cherry"]
del thislist

empty the list

In [337]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Loop Lists

In [338]:
thislist = ["apple", "banana", "cherry"]
for item in thislist:
  print(item)

apple
banana
cherry

## Sort Lists

sort ascending

In [339]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

sort descending

In [340]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Reverse Order

What if you want to reverse the order of a list, regardless of the alphabet?

In [341]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Copy a List

In [342]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']