<a href="https://colab.research.google.com/github/anumit-web/python-interview-2024/blob/main/python-code-1/python_code_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python interview preparation

# Chapter 4

#Table of contents

# Python Numbers
# Python Strings
[ (link) ](#python_variables)

<a href='#the_destination'>Link to des</a>

In [29]:
import numpy as np
import pandas as pd

In [30]:
print("Hello, World!")

Hello, World!

In [31]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

# Python Numbers

<a id='python_variables'>link to this cell
</a>

<a id='the_destination'></a>

Getting the Data Type

# Python Tuples

In [32]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

ordered, unchangeable, allow duplicates

In [33]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

tuple length

In [34]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

String, int and boolean data types:

In [35]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print data type

In [36]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

## Access Tuple Items

In [37]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana